.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header__logo {
  max-width: 254px;
  margin: 34px auto 90px;
}

.header__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
}

.header__subtitle {
  margin: 0 auto 64px;
  max-width: 720px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.header__image {
  max-width: 100%;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
    margin: 30px auto 90px;
  }

  .header__title {
    max-width: 69.01%;
    margin: 0 auto 25px;
    font-size: 75px;
    line-height: 1.05;
  }

  .header__subtitle {
    max-width: 93.75%;
    margin: 0 auto 30px;
  }

  .header__image {
    margin: 0 auto 90px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    margin: 20px auto 50px;
    max-width: 188px;
  }

  .header__title {
    max-width: 71.25%;
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .header__subtitle {
    max-width: 90%;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }

  .header__image {
    margin: 0 auto 64px;
  }
}
