.photo-grid {
  display: grid;
  max-width: 92.5%;
  margin: 0 auto 92px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid__image {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 93.75%;
    margin: 0 auto 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: 90%;
    margin: 0 auto 62px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
  }
}
