.places {
  width: 76.87%;
  margin: 0 auto;
}

.places__city {
  width: 100%;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  gap: 48px 40px;
}

.places__city:last-of-type {
  margin: 0 auto 90px;
}

.places__city-title {
  grid-area: title;
  margin: 0;
  font-size: 72px;
  line-height: 1.05;
  align-self: end;
}

.places__city-artist {
  grid-area: artist;
  margin: 0;
  align-self: end;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 2px;
}

.places__city-artist-name {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0;
}

.places__city-artist-name:first-of-type {
  display: block;
  margin-top: 8px;
}

.places__city-image {
  grid-area: image;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  width: 100%;
  object-fit: cover;
  box-sizing: content-box;
}

.places__city-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.places__city-text {
  grid-area: text;
  margin: 0;
  font-size: 18px;
}

.places__city-text-paragraph {
  margin-top: 25px;
  display: block;
}

.places__city-button {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 4px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  width: 77.39%;
  max-height: 28px;
  min-height: 28px;
}

.places__city-button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 93.75%;
  }

  .places__city {
    margin: 0 auto 72px;
    column-gap: 28px;
  }

  .places__city-title {
    font-size: 42px;
    line-height: 1.09;
  }

  .places__city-image {
    width: 100%;
  }

  .places__city-image:hover {
    opacity: 100%;
    cursor: none;
  }

  .places__city-text {
    font-size: 16px;
  }

  .places__city-button {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 100%;
  }
  .places__city {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
    gap: 30px;
    margin: 0 auto 50px;
  }

  .places__city:last-of-type {
    margin: 0 auto 65px;
  }

  .places__city-title {
    width: 90%;
    margin: 0 auto;
    font-size: 32px;
  }

  .places__city-artist {
    width: 90%;
    margin: 0 auto;
  }

  .places__city-image {
    margin: 0 auto;
    box-shadow: none;
  }

  .places__city-image:hover {
    opacity: 100%;
    cursor: none;
  }

  .places__city-text {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }

  .places__city-button {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    padding: 15px 0;
    max-height: 18px;
    min-height: 18px;
  }
}
